
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Share2Do</title>

    <!-- Bootstrap core CSS -->
    <link href="/scripts/css/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Share2Do</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <section class="todoapp">
          <header class="header">
            
            <section class="todo-title">
              <div class="title-display"></div>
              <input class="title-input" placeholder="Please enter To Do title" autofocus>
            </section>
          
          </header>
          <button type="button" class="btn btn-default btn-circle btn-lg" id="add_task"><i class="glyphicon glyphicon-plus"></i></button>
          <section class="tasks">
            <ul class="todo-list"></ul>
            <div class='content-placeholder'></div>
          </section>
        </section>
      </div>


    </div><!-- /.container -->


    <script type="text/template" id="task_template">
      <input type="text" class="edit form-control" value="{{title}}">
      <div class="view display-container">
        <input type="checkbox" class="toggle checkbox check-todo" {{#if completed}}checked{{/if}}/>
        <div class="task-title">{{title}}</div>
        <a href="#" ><span class="destroy glyphicon glyphicon-trash delete-todo"></span></a>
      </div>

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>');     
    </script>
    <script src="/scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars.js"></script>

    <script src="/node_modules/underscore/underscore.js"></script>
    <script src="/node_modules/backbone/backbone.js"></script>
    <script src="/node_modules/backbone.localstorage/backbone.localStorage.js"></script>
    <script src="/app/models/todo.js"></script>
    <script type="text/javascript">
      var todo = <%- JSON.stringify(todo) %>;
      todo = new app.Todo(todo);
    </script>
    <script src="/app/models/task.js"></script>
    <script src="/app/collections/todos.js"></script>
    <script src="/app/collections/tasks.js"></script>
    <script src="/app/views/todo-view.js"></script>
    <script src="/app/views/task-view.js"></script>
    <script src="/app/views/app-view.js"></script>
    <script src="/app/app.js"></script>
  </body>
</html>
